/* ТЕКСТ */
/* лого  #2196F3; STUDIO В ШАПКЕ ЧЕРНЫЙ, В ФУТЕРЕ БЕЛЫЙ*/

/*  вторичный цвет текста color: #212121; */
/* основной  цвет текста color: #757575; */

/* белый цвет ЗАГОЛОВОК 1, КНОПКА, АДРЕС В ФУТЕРЕ #ffffff;*/
/* акцент цвет background: #2196F3; */


/* footer почта и телефон color: rgba(255, 255, 255, 0.6); */

/* ФОН */
/* основной background-color: #FFFFFF; */
/* НАША КОМАНДА background-color: #F5F4FA; */
/* ШАПКА, ФУТЕР background-color: #2F303A; */

/* Стили для index.html */

:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --contacts-text-color: rgba(255, 255, 255, 0.6);
    --accent-color: #2196F3;
    --primary-white-color: #ffffff;
    --secondary-background-color: #f5f4fA;
    --header-footer-background-color:#2f303a;
}

body {
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
    
    font-family: Roboto, sans-serif;
}

.logo {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.logo.header {
    color: var(--title-text-color);
}

.logo.header:hover,
.logo.header:focus {
    color: var(--accent-color);
}

.logo.header .accent {
    color: var(--accent-color);
}

.logo.footer {
    color: var(--primary-white-color);
}

.logo.footer:hover,
.logo.footer:focus {
    color: var(--accent-color);
}

.logo.footer .accent {
    color: var(--accent-color);
}

.list {
    list-style: none;
    }
    
/* Site-nav */
.site-nav .link {
    color: var(--title-text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

.site-nav .link.current {
    color: var(--accent-color);
}
/* Auth-nav */

.auth-nav .button {
    color: var(--primary-text-color);
}

.auth-nav .button:hover,
.auth-nav .button:focus {
    color: var(--accent-color);
}

/* Hero */

.hero {
    background: var(--header-footer-background-color);
}
.hero-title {
    color: var(--primary-white-color);
    }
    
 /* Button */

button {
    color: var(--title-text-color);
    background-color: var(--primary-white-color);
    font-family: inherit;
    cursor: pointer;
}

.primary-button {
    color: var(--primary-white-color);
    background-color: var(--accent-color);        

    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;  
}

/* Section */

.section-title {
    color: var(--title-text-color);
}

/* Features */

.not-visible {
    visibility: hidden;
}

.feature .title {
    color: var(--title-text-color);
}

/* Our Command */

.section.command {
    background-color: var(--secondary-background-color);
}

.command .title {
    color: var(--title-text-color);
    }

/* Footer */

.page-footer {
    background: var(--header-footer-background-color);
}
.contacts-item .button {
    color: var(--contacts-text-color);
}

.contacts-item .button:hover,
.contacts-item .button:focus {
    color: var(--accent-color);
}

.contacts-item a[title] {
    color: var(--primary-white-color);
}

.contacts-item a[title]:hover,
.contacts-item a[title]:focus {
    color: var(--accent-color);
}
/* Portfolio */

.portfolio-title {
    color: var(--title-text-color);
}

.portfolio-button-item {
    color: var(--title-text-color);
    background-color: var(--secondary-background-color);
    
}

.portfolio-button-item:hover,
.portfolio-button-item:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}


