/* Styles for index.html */

:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --contacts-text-color: rgba(255, 255, 255, 0.6);
    --accent-color: #2196f3;
    --primary-white-color: #ffffff;
    --secondary-background-color: #f5f4fa;
    --header-footer-background-color: #2f303a;
}

body {
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.logo {
    color: var(--title-text-color);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}

.page-footer .logo {
    color: var(--primary-white-color);
}

.logo .accent {
    color: var(--accent-color);
}

.logo:hover,
.logo:focus {
    color: var(--accent-color);
}

.list {
    list-style: none;
}


/* Site-nav and Auth-nav */

.site-nav .link,
.auth-nav .button {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus,
.site-nav .link.current,
.auth-nav .button:hover,
.auth-nav .button:focus {
    color: var(--accent-color);
}


/* Site-nav */

.site-nav .link {
    color: var(--title-text-color);
    text-decoration: none;
}


/* Auth-nav */

.auth-nav .button {
    color: var(--primary-text-color);
    text-decoration: none;
}


/* Hero */

.hero {
    background: var(--header-footer-background-color);
}

.hero-title {
    color: var(--primary-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}


/* Button */

button {
    color: var(--title-text-color);
    background-color: var(--primary-white-color);
    font-family: inherit;
    cursor: pointer;
}

.primary-button {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
}


/* Section */

.section-title {
    color: var(--title-text-color);
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}


/* Features */

.section-title.not-visible {
    visibility: hidden;
}

.feature-list .title {
    color: var(--title-text-color);
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.feature-list .title,
.feature-list .text {
    text-align: left;
}


/* Our team */

.section.team {
    background-color: var(--secondary-background-color);
}

.team-list .title {
    font-weight: 500;
}

.team-list .title,
.team-list .text {
    font-size: 16px;
    line-height: 1.19;
}


/* Footer */

.page-footer {
    background: var(--header-footer-background-color);
}

.contacts-item .link {
    color: var(--primary-white-color);
    text-decoration: none;
}

.contacts-item .button {
    color: var(--contacts-text-color);
    text-decoration: none;
}

.contacts-item .link:hover,
.contacts-item .link:focus,
.contacts-item .button:hover,
.contacts-item .button:focus {
    color: var(--accent-color);
}


/* Styles for Portfolio */

.portfolio-title {
    color: var(--title-text-color);
}

.portfolio-title.not-visible {
    visibility: hidden;
}

.portfolio-button-item {
    color: var(--title-text-color);
    background-color: var(--secondary-background-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
}

.portfolio-button-item:hover,
.portfolio-button-item:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}

.portfolio-list .link {
    text-decoration: none;
}

.portfolio-list .title {
    color: var(--title-text-color);
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.portfolio-list .text {
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.88;
}